.customRow
      {
        color:#008cba;
        background-color: white;
        font-weight: 400;
        border-bottom: 1px solid black;
      }
      .topRow {
        color: white;
        background-color: #008cba;
        font-weight: bold;
      }
      .colPadding {
        padding: 10px;
      }
      .fixedBar {
        position:fixed;
        bottom: 0px;
        width: 100%;
      }